#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DOB_BUILD_OBINIT=ON \
		-DOB_USE_BLKID=ON \
		-DOB_BUILD_TESTS=OFF
	cp -v obinit/apps/obinit/deb/postinst debian/overboot-obinit.postinst
	cp -v obinit/apps/obinit/deb/postrm debian/overboot-obinit.postrm
